.character {
  padding: 1.5rem;
  border-radius: 8px;
}

.character h2 {
  color: #0033cc;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.character p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  line-height: 1.6;
  color: #333333;
}

.character h3 {
  color: #0033cc;
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.character ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 1rem 0;
}

.character li {
  margin-bottom: 0.5rem;
}

.character-details {
  padding: 20px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-left: 5px solid #ffd700;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
